<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
</head>
<body>

<h1>Orders</h1>

<div th:if="${#lists.isEmpty(orders)}">
    No orders found.
</div>

<table border="1" th:if="${not #lists.isEmpty(orders)}">

    <tr>
        <th>Order Id</th>
        <th>Order Name</th>
        <th>Order Date</th>
        <th>Order Status</th>
        <th>Order Price</th>
    </tr>

    <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.orderName}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.orderPrice}"></td>

    </tr>

</table>

<form th:action="@{/save}"
      th:object="${order}"
      method="POST">

    <input type="hidden" th:field="*{orderId}" />

    <div>
        <label>Order Name</label><br>
        <input type="text" th:field="*{orderName}">
    </div>

    <br>

    <div>
        <label>Order Date</label><br>
        <input type="text" th:field="*{orderDate}">
    </div>

    <br>

    <div>
        <label>Order Quantity</label><br>
        <input type="text" th:field="*{orderQty}">
    </div>

    <br>

    <div>
        <label>Order Status</label><br>
        <input type="text" th:field="*{orderStatus}">
    </div>


    <div>
        <label>Order Price</label><br>
        <input type="text" th:field="*{orderPrice}">
    </div>

    <br>

    <button type="submit">
        Save Order
    </button>

</form>

</body>
</html>